.t1 {
    margin: auto;
    border-spacing:10px;
}

.tr{
    text-align:center;
    background-color:#979797;
    font-size: 24px;
    color:yellow;
    font-weight:bold;
    
}

.td{
    padding: 7px;
    line-height: 28px;
    letter-spacing: 3px;
    font-size: 20px;
}

.input{
    line-height:120px;
    width:99%;
    font-size: 45px;
    color: #ffcc00;
    text-align:center;

}

.img{
    margin: auto;
    text-align: center;
}


.button1 {
    padding: 10px 28px;
    text-align: center;
    float: right;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    background-color: white;
    border: 2px solid #2d4fe2;
    font-family:Microsoft JhengHei;
    transition-duration: 0.42s;
    color: #2d4fe2;
    font-weight:bold;

}

.button1:hover{
    background-color:  #2447e0;
    color: white;
}

.div{
    font-family:Microsoft JhengHei;
    text-align:justify;
    
    margin: 0px auto;
}

.div_time{
    font-family:Microsoft JhengHei;
    text-align:left;
    width: 1000px;
    margin: 0px auto;
    font-size: 20px;
}

.timer_text{
    width: 180px;
    margin: 0px auto;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    background-color: #949597 ;
    color: white;
    
    letter-spacing: 2px;
    
}

.span_color{
    color:yellow;
}
.select2{
    text-align:center;
}

.button2 {
    display: none;
    padding: 10px 28px;
    text-align: center;
    float: right;
    text-decoration: none;
    
    font-size: 25px;
    background-color:  rgb(255, 210, 0);
    color: white;
    border: 2px solid rgb(255, 210, 0);
    font-family:Microsoft JhengHei;
    transition-duration: 0.42s;
    font-weight:bold;
    margin-top: 5px;

}

.time_num{
    
    padding: 7px;
    line-height: 28px;
    letter-spacing: 3px;
    font-size: 20px;
    background-color: rgb(255, 210, 0);
    width: 80px;
    text-align: center;
    
}

.span_text{
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
}

.video{
    position:absolute;
    margin-left: 44px;
    margin-right: 44px; 
    z-index:-1;
    float: left;
}

.div_device{
    
    width:932px;
    height: 700px;
    z-index:-1;
    font-family:Microsoft JhengHei;
    text-align:justify;
    font-size: 20px;
    margin: 15px auto;
}
.div_device1{
    width:932px;
    height: 420px;
    font-family:Microsoft JhengHei;
    text-align:justify;
    font-size: 20px;
    margin: 15px auto;
}
.select{
    margin-left: 456px;
    display: block;
    font-size: 16px;
    font-family: Microsoft JhengHei;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;   
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}
.select1{
    margin-left: 412px;
    display: block;
    font-size: 16px;
    font-family: Microsoft JhengHei;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;   
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

.device_text{
    
    padding: 7px;
    line-height: 28px;
    letter-spacing: 3px;
    font-size: 20px;
    background-color: rgb(255, 210, 0);
    width: 80px;
    text-align: center;
    margin-top: 44px;
    margin-left: 456px;
}
.device_text1{
    
    padding: 7px;
    line-height: 28px;
    letter-spacing: 3px;
    font-size: 20px;
    background-color: rgb(255, 210, 0);
    width: 80px;
    text-align: center;
    margin-top: 44px;
    margin-left: 412px;
}

.div_select{
    margin-left: 44px;
    margin-top: 30px;
}

.button3 {
    position:absolute;
    z-index:0;
    margin-left: 550px;
    margin-right: 100px;
    padding: 10px 28px;
    text-align: center;
    float: left;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    background-color:  rgb(255, 210, 0);
    color: white;
    border: 2px solid rgb(255, 210, 0);
    font-family:Microsoft JhengHei;
    transition-duration: 0.42s;
    font-weight:bold;
    margin-top: -80px;

}

.button4 {
    display: none;
    padding: 10px 28px;
    text-align: center;
    float: right;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    background-color:  rgb(255, 210, 0);
    color: white;
    border: 2px solid rgb(255, 210, 0);
    font-family:Microsoft JhengHei;
    transition-duration: 0.42s;
    font-weight:bold;
    margin-top: 5px;

}

.button5 {
    display: inline-block;
    padding: 10px 28px;
    text-align: center;
    
    margin-left: 44px;
    text-decoration: none;
    
    font-size: 25px;
    background-color:  rgb(255, 210, 0);
    color: white;
    border: 2px solid rgb(255, 210, 0);
    font-family:Microsoft JhengHei;
    transition-duration: 0.42s;
    font-weight:bold;
    margin-top: 5px;

}

.button6 {
    display: inline-block;
    padding: 10px 28px;
    text-align: center;
    
    margin-left: 207px;
    text-decoration: none;
    margin-right: 207px;
    font-size: 25px;
    background-color:  rgb(255, 210, 0);
    color: white;
    border: 2px solid rgb(255, 210, 0);
    font-family:Microsoft JhengHei;
    transition-duration: 0.42s;
    font-weight:bold;
    margin-top: 5px;

}

.button7 {
    
    z-index:1;
    float: left;
    width: 160px;
    height: 56px;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    margin-left: -170px;
    font-size: 25px;
    background-color:  rgb(255, 210, 0);
    color: white;
    border: 2px solid rgb(255, 210, 0);
    font-family:Microsoft JhengHei;
    transition-duration: 0.42s;
    font-weight:bold;
    margin-top: 485px;
    position:absolute;

}

.video1{
    position:absolute;
    margin-left: 44px;
    margin-right: 44px; 
    z-index:-1;
    float: left;
}
.test1{
    position:absolute;
    margin-top: 15px;
    margin-left: 109px;
    margin-right: 109px; 
    z-index:0;
    float: left;
} 
.test2{
    position:absolute;
    margin-top: 15px;
    margin-left: 109px;
    margin-right: 109px; 
    z-index:0;
    float: left;
} 
.video2{
    margin-left: 488px;
    float: left;
}

.test_text{
    font-family:Microsoft JhengHei;
    font-size: 22px;
    border: 2px solid rgb(255, 210, 0);
    margin-top: 20px;
    padding: 18px 28px;
}
.time_quest{
    
    -webkit-touch-callout: none;  
    -webkit-user-select: none;  
    -khtml-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    user-select: none;
}
.text1{
    text-decoration:underline;
}
.text_size{
    margin-top: -50px;
    float: right;
}
.errtext{
    text-align: center;
}

.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 300px;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
  
/* The Close Button */
.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 1139px) {
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        padding-top: 20px;
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
      
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }
      
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
      
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .imaget{
        width: 100%;
        height: 50%;
    }
    .css_button {
        
        float: right;
        padding: 9.5px 19px;
        border: 1px solid #FFFFFF;
        background: -webkit-gradient(linear, left top, left bottom, from(#D1C2C2), to(#001EFF));
        background: -webkit-linear-gradient(top, #D1C2C2, #001EFF);
        background: -moz-linear-gradient(top, #D1C2C2, #001EFF);
        background: -ms-linear-gradient(top, #D1C2C2, #001EFF);
        background: -o-linear-gradient(top, #D1C2C2, #001EFF);
        background-color: #001EFF;
        box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #FF0000;
        -webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #FF0000;
        -moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #FF0000;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        text-shadow: #FF0000 1px 1px 0px;
        color: #FFFFFF;
        font-size: 10px;
        font-family: '微軟正黑體';
        text-decoration: none;
        font-weight: bold;
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -o-transition: 0s;
        cursor: pointer;
    }
    .css_button:hover {
        background: none;
        background-color: #001EFF;
        box-shadow: 0px 0px 5px 0px #AAAAAA;
        -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
        -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
        border: 1px solid #ffffff;
        color: #7A0B0B;
    }
    .css_button:active {
        top: 1px;
        position: relative;
    }
}

/* 桌機 大於 1200 */
@media (min-width: 1200px) {
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        padding-top: 20px;
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
      
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }
      
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
      
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .imaget{
        width: 100%;
        height: 50%;
    }
    .css_button {
        
        float: right;
        padding: 9.5px 19px;
        border: 1px solid #FFFFFF;
        background: -webkit-gradient(linear, left top, left bottom, from(#D1C2C2), to(#001EFF));
        background: -webkit-linear-gradient(top, #D1C2C2, #001EFF);
        background: -moz-linear-gradient(top, #D1C2C2, #001EFF);
        background: -ms-linear-gradient(top, #D1C2C2, #001EFF);
        background: -o-linear-gradient(top, #D1C2C2, #001EFF);
        background-color: #001EFF;
        box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #FF0000;
        -webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #FF0000;
        -moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #FF0000;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        text-shadow: #FF0000 1px 1px 0px;
        color: #FFFFFF;
        font-size: 10px;
        font-family: '微軟正黑體';
        text-decoration: none;
        font-weight: bold;
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -o-transition: 0s;
        cursor: pointer;
    }
    .css_button:hover {
        background: none;
        background-color: #001EFF;
        box-shadow: 0px 0px 5px 0px #AAAAAA;
        -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
        -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
        border: 1px solid #ffffff;
        color: #7A0B0B;
    }
    .css_button:active {
        top: 1px;
        position: relative;
    }
}

/* 桌機 大於 1240 */
@media (min-width: 1240px) {
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        padding-top: 20px;
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
      
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }
      
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
      
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .imaget{
        width: 100%;
        height: 100%;
    }
    .css_button {
        
        float: right;
        padding: 9.5px 19px;
        border: 1px solid #FFFFFF;
        background: -webkit-gradient(linear, left top, left bottom, from(#D1C2C2), to(#001EFF));
        background: -webkit-linear-gradient(top, #D1C2C2, #001EFF);
        background: -moz-linear-gradient(top, #D1C2C2, #001EFF);
        background: -ms-linear-gradient(top, #D1C2C2, #001EFF);
        background: -o-linear-gradient(top, #D1C2C2, #001EFF);
        background-color: #001EFF;
        box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #FF0000;
        -webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #FF0000;
        -moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #FF0000;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        text-shadow: #FF0000 1px 1px 0px;
        color: #FFFFFF;
        font-size: 10px;
        font-family: '微軟正黑體';
        text-decoration: none;
        font-weight: bold;
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -o-transition: 0s;
        cursor: pointer;
    }
    .css_button:hover {
        background: none;
        background-color: #001EFF;
        box-shadow: 0px 0px 5px 0px #AAAAAA;
        -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
        -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
        border: 1px solid #ffffff;
        color: #7A0B0B;
    }
    .css_button:active {
        top: 1px;
        position: relative;
    }
}